@import url("https://fonts.googleapis.com/css2?family=Cantora+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

.cantora-one-regular {
  font-family: "Cantora One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
}

.navbar {
  position: fixed;
  height: 10vh;
  width: 100vw;
  top: 0px;
  background-color: rgba(8, 20, 52, 1);
  z-index: 100;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.navDiv1 {
  position: relative;
  height: 100%;
  width: 7%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.navDiv1 img {
  position: relative;
  height: 7vh;
}

.navDiv2 {
  position: relative;
  height: 100%;
  width: 77%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.websiteName {
  position: relative;
  font-size: 4vh;
  margin-left: 0.5vw;
  color: white;
}

.navDiv3 {
  position: relative;
  height: 100%;
  width: 15%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.accountProfile {
  position: relative;
  height: 6vh;
  width: 10vw;
  background-color: rgba(24, 54, 133, 1);
  border-radius: 2rem;
  /* border: 0.1rem solid white; */
}

.sidebar {
  position: fixed;
  height: 90vh;
  width: 7vw;
  background-color: rgba(24, 54, 133, 1);
  top: 10vh;
  left: 0vw;
  z-index: 100;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  row-gap: 8vh;
}

.sidebarButtons {
  position: relative;
  height: 10%;
  width: 62%;
  background-color: black;
  border-radius: 1rem;
}

.material-symbols-outlined {
  font-size: 2vw !important;
  color: white;
}

@media only screen and (max-width: 900px) {
  .sidebarButtons {
    /* background-color: aqua; */
    height: 7vh;
    border-radius: 12px;
  }
  .material-symbols-outlined {
    font-size: 2.8vw !important;
    color: white;
  }
}

.containtBox {
  position: absolute;
  background-color: rgba(30, 30, 30, 1);
  height: 274vh;
  width: 93vw;
  top: 10vh;
  left: 7vw;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  /* align-items: center; */
  overflow: hidden;
}

.containtBoxDiv1 {
  position: relative;
  height: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}

.containtBoxDiv1Div1 {
  position: relative;
  width: 38%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
}
.sectionName {
  position: relative;
  color: white;
  font-size: 1.7rem;
  margin-left: 4%;
}

.containtBoxDiv1Div2 {
  position: relative;
  height: 100%;
  width: 61%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  column-gap: 4vw;
}

.analysisButton {
  position: relative;
  height: 60%;
  width: 15%;
  border-radius: 1rem;
  /* border: 0.1rem solid white; */
  background-color: rgba(24, 54, 133, 1);
  color: white;
}
.containtBoxDiv2 {
  position: relative;
  height: 200%;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  background-color: #f4f4f4;
  padding: 20px;
}

.table-container {
  width: 90%;
  background-color: white;
  border: 1px solid black;
}
.table-title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  background-color: #333;
  color: white;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  font-size: 14px;
}
th {
  background-color: #ddd;
  color: black;
}
.section-title {
  background-color: #333;
  color: white;
  font-weight: bold;
}
